@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 120%;
    height: auto;
    min-height: 100vh;
    overflow: auto;
}

body {
    color: #383e45;
    font-size: 0.9rem;
    height: auto;
    min-height: 100vh;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

.site-title a {
    color: #24292e;
    font-size: 1.5rem;
    font-weight: bold;

}


.content-title {
    font-size: 1rem;
    border-left: 5px solid #007acc;
    /* 縦線の色と太さ */
    padding-left: 10px;
    /* 見出しテキストとの間に余白 */
    margin-top: 30px;
    /* 上に余白を追加 */
    font-size: 1.2rem;
}

.wrapper {
    margin: 0 auto 100px;
    padding: 0 4%;
}

#header {
    display: flex;
    justify-content: space-between;
    /* justyfy-content で位置を変えれる */
    align-items: center;
    /* align-items でも位置が変えられる */
    margin: 20px 10px;
    /* 余白を作る　4つの要素が指定できる　２つだと上下、左右を指定している */
    border-bottom: 1.5px solid #ccc;
}

#header ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* display flex で横並びにできる？　display で表示の仕方を変えれるっぽい */
}

#header li {
    margin-left: 30px;
    /* 左に余白 */
}

#header li a {
    color: #24292e;
    font-weight: bold;
}

#header li a:hover {
    opacity: 0.7;
    /* カーソル合わせると透過するやつ */
}

#home {
    margin-left: 50px;
    text-align: left;
    padding-top: 20px;
}

#home h2 {
    margin-top: 0;
}

.section-body {
    margin-left: 20px;
    padding: 5px 0;
    font-weight: 500;
}

.section-body a {
    color: #007acc;
    text-decoration: underline;
}

.profile-image {
  width: 500px;
  max-width: 80%;
  height: auto;
}